@model List<CVA.Portal.Producao.Model.Qualidade.DocumentoModel>
<div id="divOPChild">
    <table id="tblOP" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Nr. OP
                </th>
                <th>
                    Data
                </th>
                <th>
                    Nr. Pedido
                </th>
                <th>
                    Etapa
                </th>
                <th>
                    Item
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.DocNum
                        </td>
                        <td>
                            @item.DocDate.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.Serial
                        </td>
                        <td>
                            @item.CodEtapa
                        </td>
                        <td>
                            @(item.ItemCode + " - " + item.ItemName)
                        </td>
                        @if (item.Quantity == 1)
                        {
                            <td>
                                @item.Quantity
                            </td>
                        }
                        else
                        {
                            <td>
                                @(item.Sequencia + "/" + item.Quantity)
                            </td>
                        }
                        <td style="text-align: center">
                            @if (String.IsNullOrEmpty(item.CodFicha))
                            {
                                <a href='@Url.Action("CreateOP", "FichaInspecao", new { CodPN = item.CardCode, NomePN = item.CardName, CodEtapa = item.CodEtapa, DataDoc = item.DocDate, DocEntry = item.DocEntry, DocNum = item.DocNum, CodItem = item.ItemCode, DescItem = item.ItemName, Quantidade = item.Quantity, NrNF = item.Serial })' class="btn btn-default btn-small no-margin" data-toggle="tooltip" title="Criar Resultado">
                                    <span class="fa fa-eye"></span>
                                </a>
                            }
                            else
                            {
                                if (item.StatusFicha == "A")
                                {
                                    <a href='@Url.Action("Edit", "FichaInspecao", new { code = item.CodFicha })' class="btn btn-default btn-small no-margin" data-toggle="tooltip" title="Editar Resultado">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href='@Url.Action("Detail", "FichaInspecao", new { code = item.CodFicha })' class="btn btn-default btn-small no-margin" data-toggle="tooltip" title="Visualizar Resultado">
                                        <span class="glyphicon glyphicon-share-alt"></span>
                                    </a>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>