@model MODEL.Classes.CollaboratorModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="/Portal/Index">Home</a></li>
    <li><a href="#">Cadastros</a></li>
    <li><a href="@Url.Action("Pesquisar","Colaborador")">Colaborador</a></li>
    <li class="active">Cadastrar</li>
</ul>
<div class="page-content-wrap" ng-controller="CollaboratorController" ng-init="OnLoad(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <form name=" form" @*ng-submit="AddCollaborator(form.$valid)"*@>
        <div class="panel panel-default tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active" id="tab-first-li"><a href="#tab-first" role="tab" data-toggle="tab">Dados Gerais</a></li>
                <li id="tab-third-li"><a href="#tab-third" role="tab" data-toggle="tab">Documentos</a></li>
                <li id="tab-fourth-li"><a href="#tab-fourth" role="tab" data-toggle="tab">Endereço</a></li>
                <li id="tab-second-li"><a href="#tab-second" role="tab" data-toggle="tab">Especialidades</a></li>
            </ul>
            <div class="panel-body tab-content">
                <div class="tab-pane active" id="tab-first">
                    @Html.Partial("ColaboradorDados"@*, Model*@)
                </div>
                <div class="tab-pane" id="tab-third">
                    @Html.Partial("ColaboradorDocumentos")
                </div>
                <div class="tab-pane" id="tab-fourth">
                    @Html.Partial("ColaboradorEndereco")
                </div>
                <div id="tab-second" class="tab-pane">
                    @Html.Partial("ColaboradorEspecialidades")
                </div>
                <div>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="Save()">Salvar Colaborador <span class="fa fa-floppy-o fa-right"></span></button>
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-importar" style="margin-right:5px;">Importar Dados <span class="fa fa-external-link"></span></button>
                </div>
            </div>
        </div>
        <div id="modal-importar" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Importar Planilha Excel</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Planilha Excel*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-file"></span></span>
                                    <input type="file" id="tbxExcel" accept=".xlsx" class="form-control" />
                                </div>
                                <span class="help-block">Selecione a planilha a ser importada</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnImportar" type="button" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processando" ng-click="UploadFile()">Importar</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span> Sucesso</div>
            <div class="mb-content">
                <p id="message-success"></p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" id="message-box-danger">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Atenção</div>
            <div class="mb-content">
                <p id="message-error"></p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Ok</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Script/jquery")

<script src="~/Scripts/plugins/iCheck/icheck.js"></script>