@model CVA.Portal.Producao.Model.Configuracoes.UsuarioModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_title">
                        <h2>Usuário</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <br />
                        <div class="form-group">
                            <label class="col-md-3 control-label">Usuário*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.DropDownList("Usuario", null, htmlAttributes: new { required = "required", @class = "chosen-select", data_placeholder = "Selecione um usuário" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Senha*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.Senha, htmlAttributes: new { required = "required", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Número do Cartão</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.NumeroCartao, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Perfil Acesso*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.DropDownList("CodPerfil", null, htmlAttributes: new { required = "required", @class = "chosen-select", data_placeholder = "Selecione um perfil" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Ativo*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.CheckBoxFor(m => m.Ativo)
                                </div>
                            </div>
                        </div>

                        @*<div class="form-group">
                <label class="col-md-3 control-label">Permissão Etapas*</label>
                <div class="col-md-9 table-wrapper-scroll-y" style="display: inline-block">
                    <table class="table table-striped table-bordered table-control table-fixed">
                        <tr>
                            <th>Selecionado</th>
                            <th>Etapa</th>
                        </tr>
                        @if (Model != null && Model.EtapaList != null)
                        {
                            for (int i = 0; i < Model.EtapaList.Count; i++)
                            {
                                <tr>
                                    <td width="20px">
                                        @Html.CheckBoxFor(m => Model.EtapaList[i].Selected)
                                    </td>
                                    <td>
                                        @Html.HiddenFor(m => Model.EtapaList[i].CodEtapa)
                                        @Model.EtapaList[i].CodEtapa
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>*@
                    </div>
                    <div class="x_content" style="padding-top: 15px;">
                        <button type="button" class="btn btn-primary pull-right" onclick="loadingOn();submit();">Salvar <span class="fa fa-floppy-o fa-right"></span></button>

                        <button type="button" class="btn btn-default pull-left" onclick="location.href='@Url.Action("Index")'"><span class="fa fa-reply fa-right"></span> Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts{
    <script>
        $(function () {
            // document ready
            SetChosen();
        });
    </script>
}


