@model MODEL.Classes.ProfileModel[]
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="/Portal/Index">Home</a></li>
    <li><a href="#">Configurações</a></li>
    <li><a href="#">Usuários</a></li>
    <li class="active">Perfil</li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-right"></span> Perfil</h2>
</div>
<div class="page-content-wrap" ng-controller="ProfileController">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">
                    <h3 class="panel-title">Registros </h3>
                    <ul class="panel-controls">
                        <li>
                            <button onclick="NewProfile()" type="button" class="btn btn-success pull-right">Novo Perfil <span class="fa fa-floppy-o fa-right"></span></button>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table" id="DataTables_Table_1">
                            <thead>
                                <tr>
                                    <td hidden="hidden"></td>
                                    <td>Perfil</td>
                                    <td>Descrição</td>
                                    <td>Status</td>
                                    <td>#</td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count(); i++)
                                {
                                    <tr>
                                        <td hidden="hidden">@Html.HiddenFor(col => Model[i].Id, new { ng_model = "collaborator.Id", })</td>
                                        <td>@Model[i].Name</td>
                                        <td>@Model[i].Description</td>
                                        <td>@Model[i].Status</td>
                                        <td><button id="@Model[i].Id" type="button" onclick="Edit(@Model[i].Id)" class="btn btn-default editar-button"><span class="fa fa-pencil"></span></button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
<script>
    $('#DataTables_Table_1').dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Portuguese-Brasil.json"
        }
    });
    function NewProfile()
    {
        window.location.href = '/Perfil/Cadastrar';
    }

    function Edit(id)
    {
        window.location.href = '/Perfil/Editar?profileID=' + id;
    }
</script>
