@model List<CVA.Portal.Producao.Model.Producao.ProducaoModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portal de Produção</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Content/animate.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/custom.min.css" rel="stylesheet">

    <link href="~/Content/custom.css" rel="stylesheet">

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>

</head>
<body class="login">
    <div class="login_wrapper" style="max-width: 900px;margin-top: 25px">
        <div class="animate form login_form">
            <section class="login_content">
                <img style="margin-bottom: 50px" src="~/Content/Images/logo.png" />
                @using (Html.BeginForm("ApontamentoOPTransAdd", "Producao", FormMethod.Post, new { id = "formTransferencia" }))
                {
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <label class="control-label">@(Model.Select(x => x.NrOP).Distinct().Count() > 1 ? "Nº das ordens" : "Nº da ordem"):</label>
                            <span>@string.Join(", ", Model.Select(x => x.NrOP).Distinct())</span>
                        </div>
                        <div>
                            <table class="table table-responsive table-striped table-bordered">
                                <tr>
                                    <th>Cód. item</th>
                                    <th>Descrição</th>
                                    <th>Quantidade planejada</th>
                                    <th>Do depósito</th>
                                    <th>Para depósito</th>
                                </tr>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    @Html.HiddenFor(m => m[i].NrOP)
                                    @Html.HiddenFor(m => m[i].Etapa)
                                    @Html.HiddenFor(m => m[i].CodEtapa)
                                    for (int j = 0; j < Model[i].Itens.Count; j++)
                                    {
                                        @Html.HiddenFor(m => m[i].Itens[j].ItemCode)
                                        @Html.HiddenFor(m => m[i].Itens[j].DefaultWareHouse)
                                        @Html.HiddenFor(m => m[i].Itens[j].wareHouse)
                                        @Html.HiddenFor(m => m[i].Itens[j].PlannedQty)
                                        <tr>
                                            <td>@Html.DisplayFor(m => m[i].Itens[j].ItemCode)</td>
                                            <td>@Html.DisplayFor(m => m[i].Itens[j].ItemName)</td>
                                            <td>@Html.DisplayFor(m => m[i].Itens[j].PlannedQty)</td>
                                            @*<td>@Html.TextBoxFor(m => m[i].Itens[j].PlannedQty, new { @class = "form-control", style = "width: 150px", required = "required", title = "Quantidade planejada", autocomplete = "off", type = "number", placeholder = "0.0000", step = "0.0001", min = "0.0001" })</td>*@
                                            <td>@Html.DisplayFor(m => m[i].Itens[j].DefaultWareHouse)</td>
                                            <td>@Html.DisplayFor(m => m[i].Itens[j].wareHouse)</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <span class="help-block"></span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <button type="submit" value="transferir" name="submit" class="btn btn-success" style="width: 250px" id="btnSubmit">Solicitar transferência</button>
                    </div>
                }
                <img style="margin-top: 100px" src="~/Content/Images/cva_logo.png" />
            </section>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formTransferencia").submit(function () {
                $("#btnSubmit").attr("disabled", true);
                return true;
            });
        });
    </script>
</body>
</html>
