@model CVA.Portal.Producao.Model.Producao.ApontamentoHRModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portal de Produção</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Content/animate.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/custom.min.css" rel="stylesheet">

    <link href="~/Content/custom.css" rel="stylesheet">

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>

</head>
<body class="login">
    <div class="login_wrapper" style="margin-top: 25px">
        <div class="animate form login_form">
            <section class="login_content">
                <img style="margin-bottom: 50px" src="~/Content/Images/logo.png" />
                @using (Html.BeginForm("ApontamentoOPCloseApontamentoHR", "Producao", Model, FormMethod.Post, new { id = "formApontamento" }))
                {
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label">Nº da ordem:</label>
                            <span>@Model.OPDocNum</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Itinerário:</label>
                            <span>@Model.NomeEtapa</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Recurso:</label>
                            <span>@Model.RecursoCod - @Model.RecursoNome</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Início do apontamento:</label>
                            <span>@Model.StartDateTimeFormat.ToString("dd/MM/yyyy HH:mm")</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Total de minutos:</label>
                            <span>@((DateTime.Now - Model.StartDateTimeFormat).TotalMinutes.ToString("0.##"))</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Saldo:</label>
                            <span>@Model.OP.Quantidade</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Quantidade OK:</label>
                            @Html.TextBoxFor(m => m.OkQuantity, new { @class = "form-control", required = "required", title = "Informe a quantidade", autofocus = "", autocomplete = "off", type = "number", placeholder = "0.00", step = "0.01", min = "0" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Observações:</label>
                            @Html.TextAreaFor(m => m.Obs, new { @class = "form-control", title = "Observações", autofocus = "", autocomplete = "off", rows = "4" })
                        </div>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" value="finalizar" name="submit" class="btn btn-warning btn-block" id="btnSubmit">Finalizar</button>
                    </div>
                }
                <img style="margin-top: 100px" src="~/Content/Images/cva_logo.png" />
            </section>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formApontamento").submit(function () {
                $("#btnSubmit").attr("disabled", true);
                return true;
            });
        });
    </script>
</body>
</html>
