@model CVA.Portal.Producao.Model.Producao.ProducaoModel

@{
    Layout = null;
}

@using CVA.Portal.Producao.Model.Producao;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portal de Produção</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Content/animate.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/custom.min.css" rel="stylesheet">

    <link href="~/Content/custom.css" rel="stylesheet">

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>

</head>
<body class="login">
    <div class="login_wrapper" style="max-width: 1280px;margin-top: 25px">
        <div class="animate form login_form">
            <section class="login_content">
                <img style="margin-bottom: 50px" src="~/Content/Images/logo.png" />
                <span style="display: block; margin-bottom: 25px">Informe o código de barras para finalizar o apontamento ou escolha um da lista abaixo</span>
                @using (Html.BeginForm("ApontamentoOPConfirmarFinalizacao", "Producao", FormMethod.Post))
                {
                    <div class="form-group" style="width: 270px; margin: auto">
                        <label for="user" class="control-label">Código de Barras</label>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            @Html.TextBoxFor(m => m.BarCode, new { @class = "form-control has-feedback-left", required = "required", placeholder = "Informe o código de barras", title = "Informe o código de barras", autofocus = "", autocomplete = "off" })
                            <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <span class="help-block"></span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <button type="submit" value="OK" name="submit" class="btn btn-success" style="width: 250px">OK</button>
                        @if (ViewBag.Error != null)
                        {
                            <div id="ErrorMsg" class="alert alert-error" style="width: 350px; margin: auto">@ViewBag.Error</div>
                        }
                    </div>
                }
                @if (ViewBag.Apontamentos != null)
                {
                    List<ApontamentoHRModel> apontamentosIniciados = ViewBag.Apontamentos;
                    if (apontamentosIniciados.Count > 0)
                    {
                        <div>
                            <label>Apontamentos iniciados:</label>
                            <table class="table table-responsive table-striped table-bordered">
                                <tr>
                                    <th>Código de barras</th>
                                    <th>Nr. OP</th>
                                    <th>Cód. item</th>
                                    <th>Descrição</th>
                                    <th>Etapa</th>
                                    <th>Recurso</th>
                                    <th>Início</th>
                                    <th>Saldo</th>
                                </tr>
                                @for (int i = 0; i < apontamentosIniciados.Count; i++)
                                {
                                    string barcode = apontamentosIniciados[i].OPDocNum.ToString().PadLeft(6, '0') + apontamentosIniciados[i].CodEtapa.ToString().PadLeft(3, '0') + apontamentosIniciados[i].RecursoLineNum.ToString().PadLeft(4, '0');
                                    <tr>
                                        <td>@barcode</td>
                                        <td>@apontamentosIniciados[i].OPDocNum</td>
                                        <td>@apontamentosIniciados[i].OP.ItemCode</td>
                                        <td>@apontamentosIniciados[i].OP.ItemName</td>
                                        <td>@apontamentosIniciados[i].NomeEtapa</td>
                                        <td>@apontamentosIniciados[i].RecursoNome</td>
                                        <td>@apontamentosIniciados[i].StartDateTimeFormat.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@apontamentosIniciados[i].OP.Quantidade</td>
                                        <td><a class="btn btn-warning" style="margin: 0" href="@Url.Action("ApontamentoOPConfirmarFinalizacao", "Producao", new { barcode = barcode })">Finalizar</a></td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                }
                <img style="margin-top: 100px" src="~/Content/Images/cva_logo.png" />
            </section>
        </div>
    </div>
</body>
</html>
