@model MODEL.Classes.OpportunityModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="/Portal/Index">Home</a></li>
    <li><a href="#">Cadastro</a></li>
    <li><a href="#">Projeto</a></li>
    <li><a href="/Oportunidade/Oportunidades">Oportunidades</a></li>
    <li class="active">Oportunidade</li>
</ul>
<div class="page-content-wrap" ng-controller="OportunittyController" ng-init="OnLoad(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <div class="panel panel-default tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" id="tab-one-li"><a href="#tab-one" role="tab" data-toggle="tab">Oportunidade</a></li>
            @*<li id="tab-two-li"><a href="#tab-two" role="tab" data-toggle="tab">Contatos</a></li>
            <li id="tab-four-li"><a href="#tab-four" role="tab" data-toggle="tab">Fases</a></li>
            <li id="tab-five-li"><a href="#tab-five" role="tab" data-toggle="tab">Detalhes</a></li>*@
            <li id="tab-six-li"><a href="#tab-six" role="tab" data-toggle="tab">Pricing</a></li>
        </ul>
        <div class="panel-body tab-content">
            <div class="tab-pane active" id="tab-one">
                @Html.Partial("OportunidadeGeral")
            </div>
            @*<div id="tab-two" class="tab-pane">
                @Html.Partial("OportunidadeContato")
            </div>
            <div id="tab-four" class="tab-pane">
                @Html.Partial("OportunidadeFases")
            </div>
            <div id="tab-five" class="tab-pane">
                @Html.Partial("OportunidadeDetalhes")
            </div>*@
            <div id="tab-six" class="tab-pane">
                @Html.Partial("OportunidadePricing")
            </div>
            <div>
                <button type="button" id ="saveButton" class="btn btn-primary pull-right" ng-disabled="IsProcessing" ng-click="SaveOportunitty()">Salvar Oportunidade <span class="fa fa-floppy-o fa-right"></span></button>
                <button type="button" class="btn btn-default pull-right" ng-click="ConvertToProject()">Converter para Projeto <span class="fa fa-floppy-o fa-right"></span></button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span> Sucesso</div>
            <div class="mb-content">
                <p id="message-success"></p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" id="message-box-danger">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Atenção</div>
            <div class="mb-content">
                <p id="message-error"></p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">Ok</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Script/jquery")