@model CVA.Portal.Producao.Model.Configuracoes.UsuarioModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_title">
                        <h2>Alteração de Senha</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <br />
                        <div class="form-group">
                            <label class="col-md-3 control-label">Usuário*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Usuario, htmlAttributes: new { @readonly = "readonly", @class = "form-control" })
                                    @Html.HiddenFor(m => m.Code)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Senha Atual*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.Senha, htmlAttributes: new { required = "required", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Senha)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nova Senha*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.NovaSenha, htmlAttributes: new { required = "required", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NovaSenha)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Confirmar Nova Senha*</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.ConfirmarSenha, htmlAttributes: new { required = "required", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ConfirmarSenha)
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary pull-right">Salvar <span class="fa fa-floppy-o fa-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}