
@model CVA.Portal.Producao.Model.ControleDiarioModel
@{
    ViewBag.Title = "CONTROLE DIARIO DE REFEIÇÕES (CDR)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Apetit/_Layout.cshtml";
}


@if (ViewBag.Error != null)
{
    <div id="AlertError" class="col-md-12 col-sm-12 col-xs-12 form-group" onclick="$(this).fadeOut(250)">
        <div id="ErrorMsg" class="alert alert-error" style="white-space: pre-line; margin-bottom: 0px;">@ViewBag.Error</div>
    </div>
}
@if (ViewBag.Success != null)
{
    <div id="AlertSuccess" class="col-md-12 col-sm-12 col-xs-12 form-group" onclick="$(this).fadeOut(250)">
        <div id="SuccessMsg" class="alert alert-success" style="margin-bottom: 0px;">@ViewBag.Success</div>
    </div>
}

@using (Html.BeginForm("Create", "ControleDiario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <div class="row">
            <div class="x_panel">


                <button type="button" class="btn btn-dark pull-right" onclick="RefreshSelect()">Atualizar <span class="fa fa-refresh fa-right"></span></button>


                <div class="x_title">
                    <h2>@ViewBag.Title</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <input type="hidden" value="@Model.Itens.Count" id="countList" />

                    @if (Model.ContratoList == null)
                    {
                        Model.ContratoList = new SelectList(new[] { new SelectListItem { Value = "", Text = "" } }, "Value", "Text");
                    }

                    @if (Model.BPLIdList == null)
                    {
                        Model.BPLIdList = new SelectList(new[] { new SelectListItem { Value = "", Text = "" } }, "Value", "Text");
                    }

                    <div class="modal-body">
                        <div class="form-group">

                            @Html.LabelFor(model => model.CDRCode, new { @class = "control-label col-md-2", @style = "padding-top: 2px; height: 30px;" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.CDRCode, new { htmlAttributes = new { @style = "padding-top: 2px; height: 30px;", @class = "form-control" } })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.dt, new { @class = "control-label col-md-2", @style = "padding-top: 2px; height: 30px;" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input class="form-control text-box single-line" data-val="true" data-val-date="O campo Data De deve ser uma data." id="dt" name="dt" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="height: 34px; width: 100%">
                                </div>
                            </div>

                            @Html.LabelFor(model => model.BPLIdCode, new { @class = "control-label col-md-2", @style = "padding-top: 2px; height: 30px;" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    @Html.DropDownList("BPLIdCode", Model.BPLIdList, htmlAttributes: new { required = "required", id = "BPLIdCode", type = "number", @class = "form-control" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.ContratoCode, new { @class = "control-label col-md-2", @style = "padding-top: 2px; height: 30px;" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    @Html.DropDownList("ContratoCode", Model.ContratoList, htmlAttributes: new { required = "required", id = "ContratoCode", type = "number", @class = "form-control" })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.ClienteCode, new { @class = "control-label col-md-2", @style = "padding-top: 2px; height: 30px;" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.ClienteName, new { htmlAttributes = new { id = "txtClienteName", @style = "padding-top: 2px; height: 30px;", @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.EncarregadoUEN, new { @class = "control-label col-md-2", @style = "padding-top: 2px; height: 30px;" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.EncarregadoUEN, new { htmlAttributes = new { @style = "padding-top: 2px; height: 30px;", @class = "form-control" } })
                                </div>
                            </div>

                            @Html.LabelFor(model => model.Obs, new { @class = "control-label col-md-2", @style = "padding-top: 2px; height: 30px;" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Obs, new { htmlAttributes = new { @style = "padding-top: 2px; height: 30px;", @class = "form-control" } })
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        @Html.HiddenFor(model => model.ClienteCode)
                        <div class="clearfix"></div>

                        <table id="dtInsumo" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Itens.First().ServicoCode)</th>
                                    <th style="width: 30%">@Html.DisplayNameFor(model => model.Itens.First().QtdeApontada)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.Itens.Count; i++)
                                {
                                    <tr id="tr-@i">
                                        <td>@Model.Itens[i].ServicoName</td>
                                        <td>@Model.Itens[i].QtdeApontada</td>
                                        <td style="text-align: center">
                                            @Html.HiddenFor(m => m.Itens[i].ServicoName)
                                            @Html.HiddenFor(m => m.Itens[i].QtdeApontada)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="col-md-8">
                            <div class="input-group">
                            </div>
                        </div>
                        @Html.LabelFor(model => model.TotalApontada, new { @class = "control-label col-md-2", @style = "padding-top: 2px; height: 30px;" })
                        <div class="col-md-2">
                            <div class="input-group" style="padding-top: 6px;height: 30px;">
                                @Html.DisplayFor(model => model.TotalApontada, new { htmlAttributes = new { @style = "padding-top: 2px; height: 30px;", @class = "form-control" } })
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        

                    </div>
                </div>

                <button type="button" class="btn btn-default pull-left" onclick="location.href='@Url.Action("Menu", "Apetit")'"><span class="fa fa-reply fa-right"></span> Voltar</button>

                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-refresh">
                    <span class="fa fa-plus"></span> Salvar
                </button>
                <div id="modal-refresh" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Encerrar Apontamento!</h4>
                            </div>
                            <div class="modal-body">
                                <h4>Tem certeza que deseja efetivar o encerramento desse apontamento?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="location.reload()">Sim</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
}



@section Scripts{
    <script src="~/Scripts/Views/ApontamentoEncerramento/index.js"></script>
}
