@model MODEL.Classes.UserMessageModel[]
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="/Portal/Index">Home</a></li>
    <li><a href="#">Configurações</a></li>
    <li class="active"><a href="#">Mensagens</a></li>
</ul>
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-right"></span> Mensagens</h2>
</div>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">
                    <h3 class="panel-title">Registros </h3>
                    <ul class="panel-controls">
                        <li>
                            <button onclick="NewMessage()" type="button" class="btn btn-success pull-right">Nova Mensagem <span class="fa fa-floppy-o fa-right"></span></button>
                        </li>
                    </ul>
                </div>
                <div class="panel-body" ng-controller="SpecialtyController">
                    <div class="table-responsive">
                        <table class="table" id="DataTables_Table_1">
                            <thead>
                                <tr>
                                    <td hidden="hidden"></td>
                                    <td><b>Mensagem</b></td>
                                    <td><b>Data Inicial</b></td>
                                    <td><b>Data Final</b></td>
                                    <td><b>Status</b></td>
                                    <td align="right"><b>#</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count(); i++)
                                {
                                    <tr>
                                        <td hidden="hidden">@Html.HiddenFor(col => Model[i].Id, new { ng_model = "message.Id", })</td>
                                        <td>@Model[i].Message</td>
                                        <td>@Model[i].InitialDate.ToShortDateString()</td>
                                        <td>@Model[i].FinishDate.ToShortDateString()</td>
                                        <td>@Model[i].Status<td>
                                        <td><button onclick="Edit(@Model[i].Id)" type="button" class="btn btn-default editar-button"><span class="fa fa-pencil"></span></button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
<script>
    $('#DataTables_Table_1').dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Portuguese-Brasil.json"
        }
    });

    function NewMessage() {
        window.location.href = '/Mensagem/Cadastrar';
    }
    function Edit(id) {
        window.location.href = '/Mensagem/Editar?id=' + id;
    }
</script>
